<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>{% block titulo %} {% endblock %} UNES</title>
</head>

<body>
    <header>
        <!-- <img class="logo" src="imagens/logo_UNES.png" alt="Logo universidade UNES"> -->
        <img src="{{url_for('static', filename='imagens/logo_UNES.png')}}" alt="Logo universidade UNES">

        <nav>
            <ul class="menu">
                <li> <a href="/">Home</a></li>
                <li><a href="/quem_somos">Quem Somos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    {% block conteudo %}

    {% endblock %}

    <footer>
        <h3>@Todos os direitos reservados</h3>
    </footer>
</body>

</html>