{% extends 'base.html' %}

    {% block conteudo %}
    <main>
        <section>
            <h1>Entre em Contato</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolorem nesciunt possimus, nam excepturi asperiores facilis cupiditate, incidunt illo eaque ad quam quae neque reiciendis tenetur ea voluptas quia fugit!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam quod unde consectetur eligendi nihil modi ipsam. Amet quia quam impedit placeat ipsum quaerat ad accusamus! Earum sed laborum aspernatur officia.</p>
            <hr>
            <br>

            <div class="container">
                <form>
                    <label for="femail">Seu e-mail:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="fassunto">Assunto:</label>
                    <input type="text" id="assunto" name="assunto">

                    <label for="fdescricao">Descrição:</label>
                    <textarea type="textarea" id="descricao" name="descricao"></textarea>

                    <input type="submit" class="btn-enviar">
                </form>
            </div>
        </section>
    </main>

    {% endblock %}