{% extends 'base.html' %}

    {% block conteudo %}
    <div class="banner">
        <img class="propaganda" src="{{url_for('static', filename='imagens/UNES_propaganda.png')}}" alt="imagem sala de engenharia da UNES">
        <h1 style="position: absolute; font-size: 40px; padding: 15px;">Onde grandes projetos começam</h1>
    </div>

    <main>
        <section>
            <h1>Sobre a Universidade</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ipsum quae blanditiis voluptates debitis, ad in expedita dolorem autem totam omnis, tenetur impedit fugiat earum porro perferendis esse recusandae quaerat? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt iusto id architecto inventore ullam distinctio dolor accusantium voluptas consequuntur. Ab, id iste quidem explicabo soluta aut voluptas hic doloremque. Nemo!Lorem</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsam adipisci sit accusantium sapiente voluptatum assumenda harum aut asperiores quia quos natus praesentium dolore, vel nesciunt libero quod eos iste?</p>
        </section>

        <section>
            <h1>Cursos Disponíveis</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ad, provident neque adipisci aut perferendis. Facilis beatae aliquam, fugit dolore laborum dolor cumque, ex corrupti necessitatibus minus dolorem tenetur soluta?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem amet nemo officiis quibusdam, omnis ullam atque reiciendis voluptate voluptas labore ea cum, minus aspernatur magnam porro impedit? Modi, deserunt pariatur.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus nobis ipsum distinctio ut architecto veritatis velit doloremque nisi, cum saepe a fugit facilis, dolorum voluptates nostrum temporibus ad officiis similique?</p>
            <ul>
                <li>Engenharia Civil</li>
                <li>Engenharia Mecânica</li>
                <li>Engenharia Elétrica</li>
                <li>Engenharia Química</li>
                <li>Engenharia de Produção</li>
            </ul>
        </section>
    </main>
    {% endblock %}